# Ignored files/folders
.dmenurc
cachyos-hello.json
Kvantum/
cachyos/
dconf/
go/
mako/
micro/
mozilla/
octopi/
qt5ct/
spicetify/
spotify/
starship.toml
swaylock/
user-dirs.dirs
user-dirs.locale
wofi/
autostart/
net.imput.helium/
nwg-look/
systemd/user/
tlpui/
xsettingsd/
yay/
zed/
libresprite/
Insomnia/
jgit/
JetBrains/
lazydocker/
lazygit/
nautilus/
nemo/
pulse/
Postman/
Raindrop.io/
hypr/wallpapers/themes/images/
hypr/wallpapers/themes/images-dark/
obsidian/
menus/
QtProject/
kdeconnect/
Code/
Cursor/
create-next-app-nodejs/
nextjs-nodejs/
tiptap-cli-nodejs
