@import "light.css";
@import "opacitySet.css";

window#waybar {
	/*background: transparent;*/
	/*background: rgba(237, 238, 240, 0.8);*/
	background: @crustRgba;
	color: @text;
	/*border-top: 1px solid #787476;*/
	border-bottom: 1px solid #787476;
}


tooltip * {
	background: transparent;
}

tooltip {
	background: @mantle;
	border-radius: 8px;
	border-width: 2px;
	border-style: solid;
	border-color: #11111b;
}


tooltip label {
	color: @text;
}

#workspaces button {
	color: @subtext1;
}

#workspaces button.active {
	color: @text;
	font-style: italic;
	/*font-size: 16px;*/
}

#workspaces button.focused {
	color: @text;
	background: @surface2;
	font-style: italic;

}

#workspaces button.urgent {
	color: @overlay;
	background: @red;
	border-radius: 10px;
}

#workspaces button:hover {
	background: @text;
	color: @crust;
	font-style: italic;
	border-radius: 10px;
}


#custom-weather {
	color: @text;
	font-weight: 600;
}


#custom-clipboard{
	color: @text;
}

#custom-power_profile.quiet { color: @green; }
#custom-power_profile.balanced { color: @purple; }
#custom-power_profile.performance { color: @orange; }

#clock {
	color: @text;
}

#temperature {
	color: @green;
}

#temperature.critical {
	color: @maroon;
}

#network.ethernet {
	color: @teal;
}

#network.disabled {
	color: @text;
}

#network.wifi {
	color: @text;
}


#bluetooth.on,
#bluetooth.connected {
	color: @text;
}

#bluetooth.discovering {
	color: @text;
}

#custom-launch_wofi {
	color: @purple;
}

#pulseaudio {
	color: @text;
}

#pulseaudio.microphone {
	color: @text;
}

#battery {
	color: @text;
}

#battery.critical {
	color: @maroon;
}

#battery.warning {
	color: @red;
}

#backlight {
	color: @text;
}
