@import "mocha.css";

* {
	border: none;
	border-radius: 0;
	font-family: "SF Mono";
	font-weight: bold;
	font-size: 16px;
	min-height: 0;
}

window#waybar {
	background: rgba(21, 18, 27, 0);
	color: #cdd6f4;
}

tooltip * {
	background: transparent;
}

tooltip {
	background: #181821;
	border-radius: 20px;
	border-width: 2px;
	border-style: solid;
	border-color: #c8b6ff;
	padding: 6px 10px;
}

tooltip label {
	color: #cdd6f4;
	border-radius: 20px;
	background: transparent;
}

#workspaces button {
	padding: 5px;
	color: #313244;
	margin-right: 5px;
}

#workspaces button.active {
	color: @text;
}

#workspaces button.focused {
	color: #cdd6f4;
	background: @maroon;
}

#workspaces button.urgent {
	color: #11111b;
	background: @green;
	border-radius: 20px;
}

#workspaces button:hover {
	background: @maroon;
	color: #232136;
	border-radius: 20px;
}

#custom-launch_wofi,
#custom-bongocat,
#custom-power_profile,
#custom-weather,
#custom-cava,
#clock,
#battery,
#pulseaudio,
#temperature,
#workspaces,
#network,
#bluetooth,
#custom-flag,
#backlight {
	background: #181821;
	opacity: 0.8;
	padding: 0px 10px;
	margin: 3px 0px;
	margin-top: 10px;
	border: 0;
	border-color: #907aa9;
	border-style: solid;
}

#custom-bongocat {
	margin: 3px 0px;
	margin-top: 10px;
	padding: 0;
}

#custom-flag,
#custom-weather {
	color: @text;
	background: #393552;
}

#network,
#temperature,
#backlight,
#custom-launch_wofi {
	border-radius: 20px 0px 0px 20px;
}

#clock {
	color: @yellow;
}

#custom-cava,
#custom-flag {
	padding: 0px 15px 0px 15px;
}

/*#custom-cava {*/
	/*color: @maroon;*/
	/*color: transparent;*/
	/*background: transparent;*/
	/*opacity: 0;*/
/*}*/

#clock,
#custom-weather,
#custom-cava,
#custom-flag {
	border-radius: 20px;
	margin-right: 10px;
}

#custom-bongocat,
#workspaces,
#pulseaudio.microphone,
#battery {
	border-radius: 0px 20px 20px 0px;
	margin-right: 10px;
}

#temperature {
	color: @text;
}

#temperature.critical {
	color: @red;
}

#network.ethernet {
	color: @blue;
}

#network.disabled {
	color: @red;
}

#network.wifi {
	color: @green;
}

#workspaces {
	padding-right: 0px;
	padding-left: 5px;
}

#bluetooth.on,
#bluetooth.connected {
	color: @blue;
}

#bluetooth.discovering {
	color: @yellow;
}

#custom-power_profile {
	color: @green;
	border-left: 0px;
	border-right: 0px;
}

#window {
	margin-right: 20px;
}

#custom-launch_wofi {
	color: @blue;
	margin-left: 10px;
	border-right: 0px;
}

#pulseaudio {
	color: @blue;
	border-left: 0px;
	border-right: 0px;
}

#pulseaudio.microphone {
	color: @mauve;
	border-left: 0px;
	border-right: 0px;
}

#battery {
	color: @green;
	border-left: 0px;
}

#battery.critical {
	color: @red;
}

#battery.warning {
	color: @orange;
}

#backlight {
	color: @text;
}
