@import "latte.css";

* {
	border: none;
	border-radius: 0px;
	font-family: "SF Mono";
	font-weight: bold;
	font-size: 16px;
	min-height: 0;
}

window#waybar {
	background: rgba(21, 18, 27, 0);
	color: #2b2b2c;
}

tooltip {
	background: #DBDFE7;
	border-radius: 20px;
	border-width: 2px;
	border-style: solid;
	border-color: #11111b;
}

tooltip * {
	background: transparent;
}

tooltip label {
	color: #2b2b2c;
}

#workspaces button {
	padding: 5px;
	color: #313244;
	margin-right: 5px;
}

#workspaces button.active {
	color: @text;
}

#workspaces button.focused {
	color: #c4a7e7;
	background: @flamingo;
}

#workspaces button.urgent {
	color: #11111b;
	background: @green;
	border-radius: 20px;
}

#workspaces button:hover {
	background: @teal;
	color: #fffaf3;
	border-radius: 18px;
}

#custom-launch_wofi,
#custom-bongocat,
#custom-power_profile,
#custom-weather,
#window,
#custom-cava,
#clock,
#battery,
#pulseaudio,
#temperature,
#workspaces,
#network,
#bluetooth,
#custom-flag,
#backlight {
	background: #faf4ed;
	background: #DBDFE7;
	opacity: 0.8;
	padding: 0px 10px;
	margin: 3px 0px;
	margin-top: 10px;
	border-style: solid;
}

#clock {
	color: @blue;
	border-radius: 20px;
}

#custom-bongocat {
	margin: 3px 0px;
	margin-top: 10px;
	padding: 0;
}

#custom-flag,
#custom-weather {
	color: #DBDFE7;;
	background: @blue;
	font-weight: 600;
}

#custom-cava {
	/*color: @blue;*/
	color: transparent;
	background: transparent;
	opacity: 0;
}

#custom-cava,
#custom-flag {
	padding: 0px 15px 0px 15px;
}

#network,
#temperature,
#backlight,
#custom-launch_wofi {
	border-radius: 20px 0px 0px 20px;
}

#clock,
#custom-weather,
#custom-cava,
#custom-flag {
	border-radius: 20px;
	margin-right: 10px;
}

#custom-bongocat,
#workspaces,
#pulseaudio.microphone,
#battery {
	border-radius: 0px 20px 20px 0px;
	margin-right: 10px;
}

#temperature {
	color: @text;
}

#temperature.critical {
	color: @red;
}

#network.ethernet {
	color: @blue;
}

#network.disabled {
	color: @red;
}

#network.wifi {
	color: @green;
}

#workspaces {
	padding-right: 0px;
	padding-left: 5px;
}

#bluetooth.on,
#bluetooth.connected {
	color: @blue;
}

#bluetooth.discovering {
	color: @yellow;
}

#custom-power_profile {
	color: @green;
	border-left: 0px;
	border-right: 0px;
}

#custom-launch_wofi {
	color: @blue;
	margin-left: 10px;
	border-right: 0px;
}

#pulseaudio {
	color: @blue;
	border-left: 0px;
	border-right: 0px;
}

#pulseaudio.microphone {
	color: @mauve;
	border-left: 0px;
	border-right: 0px;
}

#battery {
	color: @green;
	border-left: 0px;
}

#battery.critical {
	color: @red;
}

#battery.warning {
	color: @orange;
}

#backlight {
	color: @text;
}
